GOOGLE_CLIENT_ID=937175828348-6pcsdhe04gj0disp9negeu8srfl9qgg7.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
NEXTAUTH_SECRET=travel-quest-secret-2024
NEXTAUTH_URL=https://travel-quest-lilac.vercel.app
GOOGLE_SHEETS_ID=1svhcYdq5bR_oQR4JPC9BDZM9vA6D6ZbqNxRb6F1X1Ig
GOOGLE_SERVICE_ACCOUNT_EMAIL=travel-sheets@travel-app-7664f.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
